*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    background-color: #fff;
}
body{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😀</text></svg>") 16 0,auto; /*!emojicursor.app*/
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title, #colorcode{
    mix-blend-mode: exclusion;
    color: #ffffff;
}

#title{
font-size: 4rem;
}

#colorpicker{
    width: 300px;
    height: 300px;
}

#colorpicker:hover{
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔥</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

#colorcode{
font-size: 3rem;
}

@media (width <= 500px) {
    html{
        font-size: calc(62.5% / 1.5);
    }
    #colorpicker{
        width: 200px;
        height: 200px;
    }
}